/*Please dissregard the comments, theyre there for perseritje purposes*/
.gradient {
  background: linear-gradient(to right,rgb(167, 153, 73,1)-10%, rgb(27,27,29) 15%,rgb(27,27,29) 85%, rgb(167, 153, 73) 110%);
}

body {
  margin: 0;
  color: white;
}


@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Cormorant:wght@700&display=swap');
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

header {
    background-color:black;
    padding: 15px;
}

.headeri {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linqet {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    font-family: 'Arsenal', sans-serif;
    font-family: 'Cormorant', serif;
}

.linqet:hover {
    font-family: 'Arsenal', sans-serif;
    font-family: 'Cormorant', serif;
    text-decoration: none;
    color: lightgray;
    font-weight: 600;
    font-size: 21px;
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}

.logo {
    width: 50px;
    height: 50px;
}

#form {
  width: 300px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: wheat;
  border-radius: 4px;
  font-size: 12px;
}

/* fjala "registration" */
#form h1 { 
  color: #260f27;
  text-align: center;
}

/* submit button*/
#form button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(112, 41, 194);
  border: none;
  border-radius: 4px;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
border-radius: 4px;
display: block;
font-size: 12px;
padding: 10px;
width: 100%;
}

.input-control input:focus {
  outline: 0;
}

/*green when success*/
.input-control.success input {
  border-color: #09c372;
}

/*ren when error*/
.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}